<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<beans>
	
		<bean class="com.tcs.school.bean.Student" id="student1">
			<property name="roll" value="1019117"></property>
			<property name="name" value="Akash"></property>
			<property name="address" ref="address1"></property>
		</bean>
		
		<bean class="com.tcs.school.bean.Address" id="address1">
			<property name="area" value="Guntakal"></property>
			<property name="pincode" value="515801"></property>
		</bean>
	
	</beans>

</beans>
